* {
    box-sizing: border-box;
}

h1 {
    font-size:28px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: 10px 10px
}

.card {
    box-shadow: 2px 3px 2px 1px #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    border: solid 1px #eee;
}

.btn {
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.pink {
    background-color: #ed639e;
    color: white
}

.purple {
    background-color: #4535aa;
    color: white
}

.flex-apart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
